html{
}

h1{
    color: white;
    padding: 20px;
}

head{
	position: absolute;
}

body{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    color: white;
}

#navigator{
    position: absolute;
    color:#c5c5c5;
    background-color: #4d4848;
    width: 100%;
    top: 0;
    padding: 10px 0px 10px 20px;
    display: flex;
    justify-content: space-evenly;
}

a:link{
    color: #c5c5c5;}

a:visited{
    color: #c5c5c5;}

a:hover{
    color:#242222;}


#baseContent{
    
}