*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.box-0 {
  max-width: 100%;
  position: fixed;
  top: 0;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;

  z-index: 100;

  background: linear-gradient(
    90deg,
    rgba(5, 130, 202, 1),
    rgba(0, 166, 251, 1)
  );
}
.nav {
  width: 60%;
  display: flex;

  align-items: center;
  justify-self: space-between;

  &-logo {
    font-size: 5rem;
    font-weight: 500;
    color: #f3f3f3;
    border-radius: 20rem;
    margin-right: auto;
  }
  &-svg {
    height: 5rem;
    fill: #f3f3f3;
  }
}
/// when the sticky class is applyed
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
/////////////////////////////////////////////////////////////////////////////
/// section 1 code
.section {
  &--1 {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    padding-bottom: 10rem;

    //  background: rgb(5, 25, 35);
    background: linear-gradient(
      to top right,

      rgb(7, 37, 54),
      rgba(5, 130, 202, 1),
      rgba(0, 166, 251, 1)
    );
  }
  // &--2 {
  //   //  background: rgb(5, 25, 35);
  //   background: linear-gradient(
  //     to top right,

  //     rgba(5, 25, 35, 1),
  //     rgba(5, 130, 202, 1),
  //     rgba(0, 166, 251, 1)
  //   );
  // }
}
.box1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50rem;
  gap: 7rem;
  margin: 5rem;
  &-side1 {
    display: flex;
    flex-direction: column;
    &-title {
      &-1 {
        color: rgb(202, 218, 220);
        line-height: 1;
      }
      &-2 {
        color: #f3f3f3;
        font-size: 7rem;
        line-height: 1.5;
      }
      &-3 {
        color: #f3f3f3;
        font-size: 6rem;
        font-weight: 500;
        line-height: 0.8;
        margin-bottom: 3rem;
      }
      &-4 {
        margin-bottom: 3rem;
        color: #f3f3f3;
      }
    }
  }
  &-side2 {
    border-radius: 50rem;
    background-color: rgba(3, 72, 111, 0.9);
    height: 60vh;

    &__phone {
      height: 100%;
      width: 100%;
    }
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}

.btn {
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: white;
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #0a75b4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  width: 27rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.823);
  }
  &:active {
    transform: translateY(0.5rem);
    scale: 0.98;
  }
}
.btn-demo {
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: rgb(102, 211, 112);
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  width: 27rem;

  &:hover {
    background-color: rgb(5, 206, 120);
  }
  &:active {
    transform: translateY(0.5rem);
    scale: 0.98;
  }
}

.kickstarter {
  //padding-top: 5rem;
  transition: top 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: sticky;
  top: 9rem;
  height: 6rem;

  width: 100%;
  background-color: rgb(5, 206, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;

  &-logo {
    fill: #f3f3f3;

    &-1 {
      height: 90%;
      fill: #f3f3f3;
      filter: brightness(0) invert(1);
      margin: 0 4rem 0 4rem;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////
////section 2
///

.section--2 {
  //background-color: #f9f9f9;

  background: linear-gradient(
    to bottom right,

    rgb(7, 37, 54),
    rgba(5, 130, 202, 1),
    rgba(0, 166, 251, 1)
  );

  // background: linear-gradient(
  //   to top right,

  //   rgba(5, 25, 35, 1),
  //   rgba(5, 130, 202, 1),
  //   rgba(0, 166, 251, 1)
  // );

  .section__title {
    text-align: start;
    margin-bottom: 4rem;

    &__description {
      font-size: 1.8rem;
      color: #ffffff;
      margin: 0 24.7% 0 24.7%;
    }

    &__header {
      font-size: 6rem;
      margin-left: 24.7%;
      padding-top: 6rem;

      color: #ffffff;
    }
  }

  .features {
    display: grid;
    padding-bottom: 5rem;

    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 12rem;

    &__img {
      width: 100%;
    }

    &__feature {
      align-self: center;
      justify-self: center;
      width: 70%;
      font-size: 1.5rem;
      ////// this is for when i add  svgs  maybe will see
      // &__icon {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   background-color: white;
      //   height: 5.5rem;
      //   width: 5.5rem;
      //   border-radius: 50%;
      //   margin-bottom: 2rem;

      //   &svg {
      //     height: 2.5rem;
      //     width: 2.5rem;
      //     fill: white;
      //   }
      // }
    }
    &__header {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #ffffff;
    }
    &__p {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #ffffff;
    }
  }
}
.footer {
  background-color: rgb(227, 238, 242);
  font-family: inherit;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  //gap: 10rem; stlye without the imgs
  gap: 4rem;
  // align-items: center;

  &__side1 {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    gap: 3rem;
    &__logo {
      font-size: 4rem;
      font-weight: 500;
      color: #0582ca;
    }
    &__text {
      font-size: 1.6rem;
      margin-bottom: -1.5rem;
    }
  }
  &__side2 {
    display: flex;
    gap: 4rem;

    &__nav {
      list-style: none;

      justify-content: center;
    }
    &__item {
      margin-right: 4rem;
      color: #000;
    }
    &__linkheader {
      min-width: 5rem;
      font-size: 1.65rem;
      font-weight: 600;
      color: #000;
      text-decoration: none;
    }
    &__link {
      min-width: 5rem;
      font-size: 1.6rem;
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__img {
    display: flex;
    width: 100%;
    justify-content: center;
    &-1 {
      transform: scale(0.85);
    }
    &-2 {
      transform: scale(0.85);
    }
  }
  &__copyright {
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    width: 100%;
  }
  &__link {
    font-size: 1.4rem;
    text-decoration: none;
  }
}
