.footer {
  background-color: rgb(227, 238, 242);
  font-family: inherit;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  //gap: 10rem; stlye without the imgs
  gap: 4rem;
  // align-items: center;

  &__side1 {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    gap: 3rem;
    &__logo {
      font-size: 4rem;
      font-weight: 500;
      color: #0582ca;
    }
    &__text {
      font-size: 1.6rem;
      margin-bottom: -1.5rem;
    }
  }
  &__side2 {
    display: flex;
    gap: 4rem;
    justify-content: center;
    text-align: center;

    &__nav {
      width: 20;
      list-style: none;

      justify-content: center;
    }
    &__item {
      margin-right: 4rem;
      color: #000;
      @media screen and (max-width: 500px) {
        margin-right: 0;
      }
    }
    &__linkheader {
      min-width: 5rem;
      font-size: 1.65rem;
      font-weight: 600;
      color: #000;
      text-decoration: none;
      @media screen and (max-width: 500px) {
        margin-right: 0rem;
        min-width: 0rem;
      }
    }
    &__link {
      min-width: 5rem;
      font-size: 1.6rem;
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__img {
    display: flex;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: 600px) {
      transform: scale(0.75);
      width: 70%;
    }

    &-1 {
      transform: scale(0.85);
      @media screen and (max-width: 600px) {
        transform: scale(0.65);
        height: 100%;
        width: 100%;
      }
    }
    &-2 {
      transform: scale(0.85);
      @media screen and (max-width: 600px) {
        transform: scale(0.65);
        height: 100%;
        width: 100%;
      }
    }
  }
  &__copyright {
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    width: 100%;
  }
  &__link {
    font-size: 1.4rem;
    text-decoration: none;
  }
}
