.kickstarter {
  &-2 {
    display: none;
  }
  background-color: rgb(5, 206, 120);
  height: 6rem;
  position: sticky;
  top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  @media screen and (max-width: 600px) {
    &-2 {
      height: 19rem;
      display: block;
      filter: brightness(0) invert(1);
      margin: 0 4rem 0 4rem;
    }
  }
  &-1 {
    transition: top 0.3s ease;

    position: sticky;
    top: 9rem;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    @media screen and (max-width: 1000px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 800px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }

    &-logo {
      &-1 {
        height: 90%;

        filter: brightness(0) invert(1);
        margin: 0 4rem 0 4rem;
      }
    }
  }
}
